body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    font-family: arial;
}

.all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(127, 127, 127);
    margin: 2px;
    display: flex;
    border: 2px black solid;
}

.title-text {
    display: inline-block;
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    display: flex;
    background: rgb(245, 238, 219);
}

.sidebar {
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

.sidebar-img {
    width: fit-content;
}

.content {
    flex: 1;
    border: 2px black solid; 
    width: max-content;
}

.interests {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* portfolio styles */

h2, h3 {
    margin: 2px;
}

.buttons-div {      
    padding-top: 8%;
    text-align: center;  
    bottom: 0px; 
    width: 100%;
}

.button {
  display: inline-block;
}